@media (max-width: 420px) {

    .main{
        width: 100%;
    }
    /* Header */
    .header {
        width: 100%;
    }

    .header-top {
        font-size: 7px;
        height: 15px;
    }

    .nav > a > img {
        width: 30px;
    }

    .nav > ul {
        display: none;
    }

    .log-in-nav {
        display: none;
    }

    .nav-icon{
        display: flex;
        align-self: center;
    }

    .nav-icon img {
        height: 12px;
        margin: auto 0 auto 5px;
    }

    .nav > img {
        margin-left: 20px;
        width: 30px;
    }

    .nav-icon label svg {
        display: block;
        width: 15px;
        margin-left: 5px;
        margin-top: 3px;
    }

    /* Search */
    .search {
        height: auto;
    }
    
    .search-container > label > svg {
        width: 20px;
        position: absolute;
        right: -20px;
        top: -20px;
    }

    .search-container {
        width: 85%;
        height: auto;
    }

    .search-container > p {
        font-size: 18px;
    }

    .search-container > hr {
        display: none;
    }

    .form-control {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 25px auto;
    }

    .form-control > input {
        width: 100px;
        height: 30px;
        font-size: 15px;
        border-bottom: 1px solid gray;
    }

    .form-control > button {
        width: 60px;
        height: 30px;
        font-size: 15px;
    }

    /* Header-bottom */

    .header-content {
        width: 180px;
        height: 150px;
        padding: 0;
    }

    .content-container {
        padding: 8px;
    }

    .content-container > p:first-child{
        font-size: 8px;
        margin-bottom: 3px;
    }

    .content-container > p:nth-child(2){
        font-size: 15px;
        margin: 3px 0;
    }

    .content-container > p:nth-child(3){
        font-size: 8px;
        margin-bottom: 0px;
    }

    .content-container > button {
        width: 60px;
        font-size: 5px;
        margin: 18px 0px 10px 0px
    }

    .content-container > a {
        font-size: 5px;
        margin-left: 3px;
    }

    /* Product */

    .product{
        margin-top: 15px;
    }

    .product-container {
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row > a {
        width: 80%;
    }

    .content-infor {
        height: 70px;
        padding: 5px;
        display: block;
    }

    .content-infor > p:first-child {
        font-size: 14px;
        margin: 0;
        line-height: 18px;
        word-spacing: 3px;
    }

    .content-infor > p:nth-child(2){
        font-size: 8px;
        margin: 2px 0px;
    }

    .content-infor > p:last-child {
        font-size: 7px;
        margin: 0;
    }
    .content-infor > p:last-child  > svg{
       width: 12px;
       margin-left: 2px;
    }

    .row > a {
        margin-bottom: 15px;
    }

      /* Sale */
    .sale-top{
        margin-top: 20px;
        border: none;
        display: block;
        width: 75.625%;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 0;
    }
    
    .sale-top > h1 {
        font-size: 18px;
        /* margin-left: 40px; */
    }

    .sale-infor {
        width: 100%;
        font-size: 10px;
        /* margin-left: 40px; */
        /* width: 303px; */
    }


    .item-image {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 306px;
    }

    .sale-bottom {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        width: 100%;
    }

    .item {
        box-shadow: 0 0 1px gray;
        margin-bottom: 30px;
    }

    .item-infor{
        display: block;
        text-align: center;
        height: auto;
    }

    .name {
        font-size: 18px;
    }

    .kind {
        margin: 5px 0;
    }

    .sale-bottom > a {
        display: block;
    }

    .item-image > img{
        margin: 0 auto;
    }

    .sale-bottom > a {
        width: 70%;
        margin: 0 auto;
    }
    /* Discount */
    .discount {
        display: block;
        width: 100%;
        height: auto;
    }

    #discount-image {
        width: 100%;
        /* display: flex;
        justify-content: center; */
    }

    .discount-image > img {
        width: 100%;
    }

    .discount-content {
        width: 100%;
        height: auto;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .discount-content > p:first-child {
        font-size: 32px;
        text-align: center;
        margin: 15px 0px;
    }

    .discount-content > p:nth-child(2) {
        font-size: 16px;
        width: 300px;
        margin: 10px auto 20px auto;
    }

    .discount-content > button {
        font-size: 16px;
        width: 250px;
        height: 50px;
    }

    .discount-content > p:nth-child(4){
        display: none;
    }
    .discount-content > p:nth-child(5){
        display: none;
    }
    .discount-content > p:nth-child(6){
        display: none;
    }
    .discount-content > p:nth-child(8){
        display: none;
    }

    .discount-content > a {
        font-size: 18px;
        margin: 15px 10px 15px 0px;
    }

    /* View all best seller */

    .view-best-seller {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .view-best-seller > button {
        padding: 0;
        margin: 0;
        width: 220px;
        height: 40px;
        font-size: 15px;
    }

    .view-best-seller > h1 {
        font-size: 18px;
        display: block;
        width: 300px;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;
    }

    .best-sale-infor {
        display: block;
        margin: 0 auto;
    }

    .sale-content {
        display: flex;
        align-self: center;
    }

    /* Best seller */
    .best-sallers {
        margin: 0;
    }

    .sale-container {
        display: block;
        width: 100%;
    }

    /* Tiny infor */
    .tiny-infor {
        display: block;
        text-align: center;
        margin: 0;
        width: 100%;
        font-size: 16px;
        height: auto;
        margin-top: 80px;
    }

    .tiny-infor > p:first-child {
        font-size: 22px;
        width: 300px;
        margin: 10px auto;
        word-spacing: 5px;
    }

    .tiny-infor > p {
        width: 280px;
        margin: 0 auto;
        font-size: 15px;
    }

    .blog {
        display: block;
    }

    .blog-infor {
        width: 90%;
        margin: 30px auto;
    }
    
    .blog-image {
        display: flex;
        justify-content: center;
    }

    /* Recommend */

    .recommend {
        display: flex;
        justify-content: center;
        height: auto;
    }

    .recommend-main {
        display: block;
        width: 90%;
        height: auto;
    }

    .recommend-main > img {
        width: 60%;
        display: block;
        margin: 0 auto;
    }

    .recommend-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recommend-content > p:first-child {
        text-align: center;
    }

    .recommend-content > p:nth-child(2) {
        font-size: 26px;
        line-height: 40px;
        text-align: center;
        margin-top: 10px;
    }

    .recommend-content > button{
        width: 230px;
        height: 40px;
        margin: 25px auto;
        font-size: 15px;
        display: block;
    }

    .recommend-content > br {
        display: none;
    }

    .recommend-content > a {
        font-size: 15px;
        /* display: block; */
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }

    /* Menu */
    .content-menu {
        width: 100%;
        display: flex;
        margin: 0;
    }

    .menu-infor {
        width: 85%;
        display: block;
        text-align: center;
    }

    .menu-infor > p:first-child {
        font-size: 25px;
        margin-top: 50px;
    }

    .menu-infor > p:nth-child(2) > br {
        display: none;
    }

    .menu-infor > p:nth-child(2){
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
    }

    .menu-image {
        width: 100%;
        overflow: hidden;
    }
    
    .menu-image > img {
        height: 100%;
    }   
    
    .menu-image > img {
        width: 100%;
    }

    .menu {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .menu-container {
        display: block;
        width: 90%;
    }

    .menu-item {
        width: 100%;
    }

    .menu-item > img {
        width: 100%;
        /* margin: 0; */
    }

    .menu-item > p {
        font-weight: 600;
        color: #4A3510;
    }

    .menu > button {
        width: 200px;
        font-size: 15px;
        line-height: 20px;
        word-spacing: 5px;
        margin-top: 50px;
    }

    .menu > a {
        font-size: 14px;
        margin-left: 15px;
    }

    /* Revolution */
    .revolution {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 100px 0;
    }

    .revol-container {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
    }

    .revol-container > img {
        width: 100%;
    }

    .revol-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    

    .revol-content > p:first-child {
        font-size: 30px;
        line-height: 38px;
        margin: 10px 0;
    }

    .revol-content > p:nth-child(2){
        font-size: 18px;
        margin: 0;
        line-height: 28px;
        text-align: center;
        width: 250px;
    }

    .revol-content > button {
        width: 130px;
        height: 40px;
        font-size: 15px;
        margin: 20px 0;
    }

    /* Offer */

    .offer {
        display: flex;
        justify-content: center;
        height: auto;
    }

    .offer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .offer-content > p:first-child {
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        margin-top: 30px;
    }

    .offer-content > p:last-child {
        display: block;
        margin: 15px auto;
        font-size: 18px;
        text-align: center;
        width: 300px;
    }

    .offer-container > button {
        width: 100px;
        height: 35px;
        font-size: 18px;
        margin: 0;
        margin-bottom: 30px;
    }

    /* Footer */
    .footer{
        height: auto;
        line-height: 15px;
    }

    .footer-container {
        width: 100%;
    }

    .footer-top {
        display: block;
    }

    .footer-col {
        width: 100%;
    }

    .footer-col a {
        text-align: center;
        font-size: 12px;
    }

    .footer-top > .footer-col:first-child > a:nth-child(4){
        font-size: 30px;
        margin-bottom: 20px;
    }

    .footer-top > .footer-col:first-child >
     span {
        margin: 0 auto;
     }
    
    
    .footer-top > .footer-col:nth-child(2) > a:first-child {
        font-size: 13px;
    }

    .footer-top > .footer-col:nth-child(2) 
    > a:nth-child(5) {
        font-size: 13px;
    }

    .footer-top > .footer-col:nth-child(3)
     > a:first-child {
        font-size: 13px;
    }

    .footer-top > .footer-col:nth-child(4)
     > a:nth-child(1) {
        font-size: 13px;
    }

    .footer-top > .footer-col:nth-child(4)
     > a:nth-child(5) {
        font-size: 13px;
    }
    
    .footer-top > .footer-col:nth-child(4)
     > a:nth-child(7) {
        font-size: 13px;
    }
    
    .footer-top > .footer-col:nth-child(3)
     > a:nth-child(3) {
        font-size: 13px;
    }

    .footer-top > .footer-col:nth-child(5)
     > a:first-child {
        font-size: 13px;
    }

    .footer-top > .footer-col:nth-child(5) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    

    .footer-bottom {
        font-size: 13px;
        height: auto;
    }

}
